---
import Layout from "../layouts/Layout.astro";
import { workExperience } from "../constants";
import WelcomeCard from "../components/WelcomeCard.astro";
import CurrentProjects from "../components/CurrentProjects";
import { Timeline } from "../components/TimeLine";
import Stack from "../components/Stack";
---

<Layout title="Alessandro - Full Stack Developer">
	<main>
		<section
			id="welcome"
			class="relative flex flex-col justify-center lg:flex-col min-h-screen items-center gap-10 mx-0 md:mx-10"
		>
			<WelcomeCard />
			<span class="flex flex-row gap-4">
				<!-- download resume  -->
				<a
					href="/assets/alessandro-pimentel.pdf"
					download="Alessandro_Pimentel_Resume.pdf"
					class="font-medium bg-[#198ba4aa] text-white px-4 py-2 rounded-2xl outline outline-gray-50 hover:scale-110 transition duration-100"
				>
					Resume
				</a>
				<!-- linkedin -->
				<a
					href="https://www.linkedin.com/in/alessandro-pimentel-535490211/"
					target="_blank"
					class="font-medium bg-[#460631aa] text-white px-4 py-2 rounded-2xl outline outline-gray-50 hover:scale-110 transition duration-75"
				>
					Linkedin
				</a>
			</span>
			<a
				href="#about-me"
				class="absolute bottom-8 bg-gradient-to-b from-gray-600 to-gray-500 text-white px-4 py-2 rounded-2xl animate-bounce hover:shadow-orange-400 hover:shadow-md hover:outline hover:outline-orange-600"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-arrow-down"
					><path d="M12 5v14"></path><path d="m19 12-7 7-7-7"
					></path></svg
				>
			</a>
		</section>
		<Timeline experiences={workExperience} />
		<CurrentProjects client:only="react" />
		<Stack client:only="react" />
		<script is:inline>
			window.addEventListener("scroll", () => {
				const sections = document.querySelectorAll("section");
				let currentSectionId = "";

				sections.forEach((section) => {
					const rect = section.getBoundingClientRect();
					const sectionCenter = rect.top + rect.height / 2;
					const viewportCenter = window.innerHeight / 2;

					if (
						Math.abs(sectionCenter - viewportCenter) <
						rect.height / 2
					) {
						currentSectionId = section.id;
					}
				});

				if (
					currentSectionId &&
					window.location.hash !== `#${currentSectionId}`
				) {
					history.replaceState(null, "", `#${currentSectionId}`);
				}
			});
		</script>
	</main>
</Layout>
