---
import Layout from "../layouts/Layout.astro";
import ExpierenceItem from "../components/ExperienceItem.astro";
import { workExperience } from "../constants";
import BriefCase from "../components/icons/BriefCaseIcon.astro";
---

<Layout title="Ale - Portfolio">
	<main>
		<section
			id="about-me"
			class="flex flex-col lg:flex-row items-center gap-4 mx-auto max-w-4xl my-20 mb-32"
		>
			<img
				src="/profile.jpeg"
				alt="Alessandro's profile picture"
				class="w-auto h-20 lg:h-40 rounded-full border border-white hover:scale-110 transition-transform"
			/>
			<div class="flex flex-col gap-1">
				<h1 class="text-white text-4xl">
					Hi, I'm
					<span
						class="font-semibold
					bg-gradient-to-r bg-clip-text text-transparent
					from-cyan-700 via-cyan-400 to-cyan-700
					animate-text"
						>Alessandro Pimentel</span
					>
				</h1>
				<h2 class="">
					+3 years of experience. Full Stack Developer. Born in
					Uruguay 🇺🇾. I'm passionate about technology and love to
					acquire new knowledge. I'm always looking for new challenges
					and opportunities to grow.
				</h2>
			</div>
		</section>
		<section
			id="experience"
			class="flex flex-col gap-4 w-full mx-auto items-center"
		>
			<div>
				<div class="flex flex-row items-center w-full gap-3">
					<BriefCase />
					<h2 class="text-[20px]">Work Experience</h2>
				</div>
				<ol
					class="relative border-s border-gray-200 dark:border-gray-700 lg:max-w-[720px]"
				>
					{
						workExperience.map((experience, index) => (
							<li class="mb-10 ms-4">
								<ExpierenceItem {...experience} />
							</li>
						))
					}
				</ol>
			</div>
		</section>
	</main>
</Layout>
