<footer class="p-4 text-gray-500 text-sm">
    <span>
        Designed and built with ❤️ by
        <a
            href="https://www.linkedin.com/in/alessandro-pimentel-535490211/"
            target="_blank"
            class="underline"
        >
            Alessandro Pimentel
        </a>
    </span>
</footer>
