---
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import MailIcon from "./icons/MailIcon.astro";
---

<span
    class="fixed bottom-24 left-0 flex flex-col items-center justify-center px-8 z-10 gap-4"
>
    <!-- Left section: Email -->
    <a
        href="mailto:pimentelaleee@gmail.com"
        target="_blank"
        class="outline outline-slate-50 text-white p-2 rounded-full bg-transparent backdrop-blur-3xl hover:outline-green-600 hover:bg-white/20"
    >
        <MailIcon />
    </a>

    <!-- Right section: Social Icons -->
    <a
        href="https://www.linkedin.com/in/alessandro-pimentel-535490211/"
        target="_blank"
        class="outline outline-slate-50 p-2 rounded-full bg-transparent backdrop-blur-3xl hover:outline-green-600 hover:bg-white/20"
    >
        <LinkedinIcon />
    </a>
    <a
        href="https://github.com/AlePimentel1"
        target="_blank"
        class="outline outline-slate-50 text-white p-2 rounded-full bg-transparent backdrop-blur-3xl hover:outline-green-600 hover:bg-white/20"
    >
        <GithubIcon />
    </a>
</span>
