---
import "@fontsource/montserrat";
// import Header from "../components/Header.astro";
import { sections } from "../constants";
import Footer from "../components/Footer.astro";
import SocialItems from "../components/SocialItems.astro";
import Header from "../components/Header";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Hi, I'm Alessandro. I'm a Full-Stack Developer based in Uruguay."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="realtive">
		<Header sections={sections} client:load />
		<SocialItems />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	/* :root {
		color-scheme: light dark;
	} */
	html {
		font-family: "Montserrat", system-ui, sans-serif;
		scroll-behavior: smooth;
		background: url("/assets/bg-pattern.svg");
	}
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
